jupyter==1.0.0
tqdm==4.49.0
requests==2.24.0
pandas==1.1.2
fiona==1.8.19
shapely==1.7.1
pyproj==3.0.1
rtree==0.9.7
geopandas==0.6.3
mapboxgl==0.10.2
psycopg2==2.8.6
fuzzywuzzy==0.18.0
geopy==2.0.0
xlrd==1.2.0
msoffcrypto-tool==4.11.0
keplergl==0.2.1
